<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">

</head>
<body>
<% include ../public/partials/header.ejs %>
<h1 class="text-center p-2"><%= title %></h1>

<div class="card mb-3 w-75 mx-auto">
    <div class="card-body">
        <h3 class="card-title">Add sighting</h3>

        <form id="addSightingForm">
            <div>
                <label for='name'>Bird name:</label>
                <input type="text" name="name" id="name" placeholder="Name of the Bird" class="form-control">
            </div>

            <div>
                <label for='date'>Date:</label>
                <input type="datetime-local" name="date" id="date" value="Today" class="form-control">
            </div>


            <div>
                <label for='location'>Location:</label>
                <input type="text" name="location" id="location" placeholder="Sheffield" class="form-control">
            </div>

            <div>
                <label for='description'>Description:</label>
                <input type="text" name="description" id="description" placeholder="Describe" class="form-control">
            </div>

            <div>
                <label for="myImage">Choose an image</label>
                <input type="file" id="myImage" name="myImg" accept="image/*" required class="form-control">
            </div>

            <div>
                <button type="submit">Add Sighting</button>
            </div>

        </form>

        <div id="results" style="margin-top:30px"></div>
    </div>
</div>

<script>
    const addSighting = document.querySelector('#addSightingForm');
    addSighting.addEventListener('submit', addSightingFunc);

    var db;

    //opening the db
    const request = indexedDB.open('BirdInformation');

    request.onerror = () =>
    {
        console.error("Connection Error");
    };

    request.onupgradeneeded = () =>
    {
        //creating object
        db = request.result;

        if(!db.objectStoreNames.contains("birds"))
        {
            const objectStore = db.createObjectStore("birds", { keyPath: "id", autoIncrement: true});
            objectStore.createIndex('name','name', {unique:false});
            objectStore.createIndex('date','date', {unique:false});
            objectStore.createIndex('location','location', {unique:false});
            objectStore.createIndex('description','description', {unique:false});

        }
    };



    //function to store the data from the form to indexedDb
    function addSightingFunc(event)
    {
        event.preventDefault();
        let bname = document.querySelector('#name').value;
        let dateInfo = document.querySelector('#date').value;
        let locationInfo = document.querySelector('#location').value;
        let bdescription = document.querySelector('#description').value;
        const img = document.querySelector('#myImage').files[0];


        console.log(bname);

        var db;
        const request = indexedDB.open('BirdInformation');


        request.onsuccess = () =>
        {
            db = request.result;
            console.log("success");

            const t = db.transaction(["birds"],'readwrite').objectStore("birds");

            //adding data into indexedDb with name BirdInformation
            t.add({image: img, bname, dateInfo, locationInfo, bdescription});

        };

    };

</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>