<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">

</head>
<body>
<% include ../public/partials/header.ejs %>
<h1><%= title %></h1>


<form id=“xForm" enctype="multipart/form-data" method="post" action="/add">
    <label for='birdname'>Bird name:</label>
    <input type="text" name="birdname" id="birdname" value="Birdo">
    <p><label for='date'>Date:</label>
        <input type="text" name="date" id="date" value="Today">
    </p>
    <p><label for='Location'>Location:</label>
        <input type="text" name="location" id="location" value="Sheffield">
    </p>
    <p><label for='Description'>Description:</label>
        <input type="text" name="description" id="description" value="A beautiful Birdo!">
        <p><label for="myImage">Choose an image</label>
    <div >
        <input type="file" id="myImage" name="myImg" accept="image/*" required>
    </div>
    </p>
    <p><input type="submit" name="g" value="Submit" id="g"></p>
</form>
<div id="results" style="margin-top:30px"></div>
</body>

</html>